<div id="articles">
  <% @articles.in_groups_of(4, false).each do |articles_group| %>

    <div class="row">
      <% articles_group.each do |article| %>
        <div class="col-md-3">
          <div class="article">
            <div class="title">
              <%= link_to article.title, controller: :blog, action: :article, id: article.id %>
            </div>
            <div class="author">
              <%= article.author %>
            </div>
            <div class="category">
              <%= article.category %>
            </div>
            <div class="ver">
              <%= link_to 'Ver', {controller: :blog, action: :article, id: article.id}, class: 'btn btn-danger' %>
              </div>
          </div>
        </div>
      <% end %>
    </div>

  <% end %>
</div>