<div class="container">
  <h1><%= @article.title %></h1>

  <div id="article" class="row">
    <div class="col-md-6">
      <div class="author">
        <%= @article.author %>
      </div>
      <div class="category">
        <span class="label label-warning"><%= @article.category %></span>
      </div>
      <div class="content">
        <%= @article.content %>
      </div>
    </div>
  </div>
</div>
